/**=====================
    3.38 Sweet-alert CSS Start
==========================**/

.swal-modal {
    .swal-title {
        font-size: 24px;
    }

    .swal-text {
        font-size: 17px;
    }
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: $primary-color !important;
}
/**=====================
    3.38 Sweet-alert CSS ends
==========================**/